.metadata
.idea
treament-server/__pycache__/
treatment-server/input/
treament-server/Card_Kingdom/__pycache__/
treament-server/Include/
treament-server/Scripts/
treament-server/Lib/site-packages
treament-server/share/
treatment-server/Logs/
treatment-server/pyvenv.cfg
